<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A quick summary of my background.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/university.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2014</h4>
                                    <h4 class="subheading">Trinity College Dublin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I attended Trinity College Dublin and achieved a 2.1 in History. While I was there I played for the university football team, captaining the Freshers team, and going on to be vice-captain of the first XI.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/internship.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">Internships</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at university, I interned at several companies, including Warner Bros., WME Enteratinment, and McInroy & Wood (fund managers).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/charity.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SEPTEMBER 2010-July 2014</h4>
                                    <h4 class="subheading">Charity Work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my time at university, I  ran a charity playing football against the inmates in the exercise yard of Mount Joy Prison, Dublin's maximum security prison. I also participated in the Mongol Rally, a race from London to Mongolia in a car with a one-litre engine. Doing so, my team and I raised £4,500 for Children with.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Lavanda.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SEPTEMBER 2014-DECEMBER 2015</h4>
                                    <h4 class="subheading">Lavanda</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Leaving univeristy I immediately joined Lavanda, a tech startup that aimed to make a sharing economy platform for washing machines. I was part of the founding four team, and had a role as an operational executive.
                                        ,</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/generalassembly.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>APRIL 2016-JULY 2016</h4>
                                    <h4 class="subheading">General Assembly, Web Development Immersive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During this time, I completed four projects in different languages and using a variety of APIs, as well completed a daily home works. To complete the tasks, we were also taught industry standard project management such as working in an agile way and using project management tools such as Pivotal Tracker and Balsamiq. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>THAT IS
                                    <br>THE STORY
                                    <br>SO FAR!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>